/* /* styles.css */

.gris-100 {
  background-color: #BDBDBD; /* $gris-400 color */
  color: #000000; /* Text color */
}

.gris-100:hover {
  background-color: #9E9E9E; /* Darker hover color for $gris-400 */
  color: #000000; /* Text color on hover */
}
